html {
  font-family: monospace;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#debug {
  background-color: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 8px;
  position: fixed;
  top: 0;
  right: 0;
}

#renderer {
  position: fixed;
  bottom: 0;
  left: 0;
}
